<!DOCTYPE html>
<html>
    <head>
        <title>shonenada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-40537602-1', 'shonenada.com');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="main">
            <div id="title" class="block-center">shonenada</div>
            <div id="QRcode" class="block-center"></div>
            <div id="box" class="block-center">
                <span id="left">　</span><span id="middle">{{ _('Welcome to My Homepage.') }}</span><span id="right">　</span>
            </div>
            <div id="items-1" class="block-center">
                <a href="http://stu.szu.edu.cn" class="item" id="stu" title="StuCampus in SZU">{{ _('StuCampus') }}</a>
                <a href="https://github.com/shonenada" class="item" id="github" title="My projects on github.">github</a>
                <a href="https://bitbucket.org/shonenada" class="item" id="bitbucket" title="My projects on bitbucket.">bitbucket</a>
            </div>
            <div id="items-2" class="block-center">
                <a href="http://blog.shonenada.com" class="item" id="blog" title="My Blog.">{{ _('blog') }}</a>
                <a href="http://www.douban.com/people/shonenada/" class="item" id="douban" title="My page on douban">{{ _('douban') }}</a>
                <a href="http://www.zhihu.com/people/shonenada/" class="item" id="zhihu" title="My page on zhihu">{{ _('zhihu') }}</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="footer block-center">
            CopyRight &copy; shonenada.
        </div>
    </body>
</html>
